{% extends "tickets/base.html" %}
{% block content %}
    {% for boat in boats %}
        <div class="card card-body mb-3 pt-2 pb-2 timed-ticket">
            <a href="{%url 'update-boat' boat.id%}"><h4 class="text-center card-title pb-0 mb-0 pt-1">Slip {{ boat.slip }}</h4></a>
            <p class="card-text mt-1 mb-0">Make: {{ boat.manufacturer }}</p>
            <p class="card-text mt-1 mb-0">Model: {{ boat.model }}</p>
            <p class="card-text mt-1 mb-0">Year: {{ boat.year }}</p>
            <p class="card-text mt-1 mb-0">Owner: {{ boat.owner }}</p>
        </div>
    {% endfor %}
{% endblock %}

{% block activeusers %}
    <div class="card card-body mt-3">
        <h4 class="text-center">Active Users</h4>
        <ul class="list-group-flush">
            {% for name in currentUsers %}
                <li class="list-group-item pt-2 pb-2">
                    <label class="card-text text-center">{{name}}</label>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}