{% extends "tickets/base.html" %}
{% block content %}
    {% for customer in customers %}
        <div class="card card-body mb-3 pt-2 pb-2 timed-ticket">
            <a href="{% url 'update-customer' customer.id %}"><h4 class="text-center card-title pb-0 mb-0 pt-1">{{ customer.firstName }} {{ customer.lastName }}</h4></a>
            <p class="card-text mt-1 mb-0">Email: {{ customer.email }}</p>
            <p class="card-text mt-1 mb-0">Phone: {{ customer.phone }}</p>
            <p class="card-text mt-1 mb-0">Active: {{ customer.active }}</p>
        </div>
    {% endfor %}
    {% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-primary mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-primary mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-primary mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-primary mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-primary mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-primary mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}

    {% endif %}
{% endblock %}

{% block activeusers %}
    <div class="card card-body mt-3">
        <h4 class="text-center">Active Users</h4>
        <ul class="list-group-flush">
            {% for name in currentUsers %}
                <li class="list-group-item pt-2 pb-2">
                    <label class="card-text text-center">{{name}}</label>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}