{% extends "tickets/base.html" %}
{% block content %}
    {% for ticket in timedTickets %}
        <div class="card card-body mt-3 timed-ticket">
            <h4 class="text-center card-title">{{ ticket.customer }} - {{ ticket.timeOut }}</h4>
            <p class="card-text divider-new mt-2 mb-2">{{ ticket.boat.year}} {{ ticket.boat.manufacturer}} {{ ticket.boat.model}} - Slip {{ ticket.boat.slip}}</p>
            <ul class="form-check list-group-flush">
                {% for item in ticket.items %}
                    <li class="list-group-item">
                        <input type="checkbox", class="form-check-input">
                        <label class="form-check-label card-text">{{ item }}</label>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
{% endblock %}
