{% extends "tickets/base.html" %}
{% block content %}
    {% for ticket in tickets %}
        <div class="card card-body mb-3 pt-2 pb-2 timed-ticket">
            <a href="{% url 'view-ticket' ticket.ticketID %}">
                <h4 class="text-center card-title pb-0 mb-0 pt-1"><small class="text-muted">no.{{ ticket.ticketID }}</small> {{ ticket.customer.firstName }} {{ ticket.customer.lastName }} - {{ ticket.timeDue|date:"n/j, h:i a" }}</h4>
            </a>
            <p class="card-text divider-new mt-1 mb-0">{{ ticket.boat.year}} {{ ticket.boat.manufacturer}} {{ ticket.boat.model}} - Slip {{ ticket.boat.slip}}</p>
            <ul class="form-check list-group-flush ">
                {% for item in ticket.ticketItems %}
                    <li class="list-group-item pt-2 pb-2">
                        {% if item.completed == 0 %}
                            <label class="form-check-label card-text text-danger">{{ item.item }} <small class="text-muted">{{ item.description }}</small></label>
                        {% else %}
                            <label class="form-check-label card-text text-success">{{ item.item }} <small class="text-muted">{{ item.description }}</small></label>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
{% endblock %}

{% block activeusers %}
    <div class="card card-body mt-3">
        <h4 class="text-center">Active Users</h4>
        <ul class="list-group-flush">
            {% for name in currentUsers %}
                <li class="list-group-item pt-2 pb-2">
                    <label class="card-text text-center">{{name}}</label>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}