{% extends "tickets/base.html" %}
{% block content %}
{% load crispy_forms_tags %}
    <div class="card card-body mb-3 pt-2 pb-2 timed-ticket">
        <h4 class="text-center card-title pb-0 mb-0 pt-1"><small class="text-muted">no.{{ ticket.id }}</small> {{ ticket.customer.firstName }} {{ ticket.customer.lastName }} - {{ ticket.timeDue|date:"n/j, h:i a" }}</h4>
        <p class="card-text divider-new mt-1 mb-0">{{ ticket.boat.year}} {{ ticket.boat.manufacturer}} {{ ticket.boat.model}} - Slip {{ ticket.boat.slip}}</p>
        <form method="POST">
        {% csrf_token %}
            <ul class="form-check list-group-flush ">
                {% for item in items %}
                    <li class="list-group-item pt-2 pb-2">
                        {% if item.completed == 0 %}
                            <label class="form-check-label card-text text-danger">{{ item.item }} <small class="text-muted">{{ item.description }}</small></label>
                        {% else %}
                            <label class="form-check-label card-text text-success">{{ item.item }} <small class="text-muted">{{ item.description }}</small></label>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
            {{form}}
        <button class="btn btn-outline-primary" type="submit" data-mdb-ripple-color="light">Update</button>
        </form>
    </div>
    
{% endblock %}

{% block activeusers %}
    <div class="card card-body mt-3">
        <h4 class="text-center">Active Users</h4>
        <ul class="list-group-flush">
            {% for name in currentUsers %}
                <li class="list-group-item pt-2 pb-2">
                    <label class="card-text text-center">{{name}}</label>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}