{% extends 'tickets/base.html' %}
{% block content %}
    <div class="card card-body mb-3 pt-2 pb-2 timed-ticket">
        {% load crispy_forms_tags %}
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Company</legend>
                {{ form|crispy }}
                <small class="text-muted">Don't share your key with anyone you don't want to invite to your company.</small>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-primary" type="submit" data-mdb-ripple-color="light">Submit</button>
            </div>
        </form>
    </div>
{% endblock content %}