{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--bootstrap4 stylesheet-->
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
    <!--mdbootstrap-->
    <link rel="stylesheet" href="{% static 'vendor/mdbootstrap/css/mdb.min.css' %}">
    <!--fontawesome icons-->
    <link rel="stylesheet" href="{% static 'vendor/fontawesomeicons/css/all.min.css' %}">
    <!--main stylesheet-->
    <link rel="stylesheet" href="{% static 'users.css' %}">

    <title>Login - Dockmate</title>
</head>
<body bgcolor="blue-gradient">
    <div class="center">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    </div>
</body>

<!--jquery script-->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<!--popper.js script -->
<script src="{% static 'vendor/popper.js/popper.min.js' %}"></script>
<!--bootstrap4 javascript-->
<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--mdb script-->
<script src="{% static 'vendor/mdbootstrap/js/mdb.min.js' %}"></script>
<!--fontawesome script-->
<script src="{% static 'vendor/fontawesomeicons/js/all.min.js' %}"></script>

</html>