.wrapper{
    width: 100%;
    display: flex;
}

#content{
    position: relative;
    padding-left: 200px;
}
#sidebar{
    width: 200px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 999;
    color: #fff;
}

#timeBlock{
    width: 500px;
    margin-right: 50px;
    left: 70%;
}

.timed-ticket{
    width: 500px;
}


body {
    background: #fafafa;
}

p {
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.sidebarButton {
    padding-left: 5%;
}

#sidebar .sidebar-header {
    padding: 20px;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background-color: #0d47a1;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
}